@import "nullstyle.scss";

.wrapper {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #50a060;
	color: white;
	overflow: hidden;
}
.header {
	height: 72px;
	width: 100%;
	font-size: 26px;
	display: flex;
	align-items: center;
	p {
		margin-left: 48px;
		text-align: left;
	}
}

.block1 {
	max-height: 1270px;
	width: 100%;
	padding: 0 24px 0 24px;
	display: flex;
	align-items: center;
	h1 {
		font-size: 62px;
		width: 50%;
		margin-bottom: 20px;
	}
	p {
		line-height: 30px;
		font-size: 26px;
		width: 60%;
		margin-bottom: 20px;
		// letter-spacing: 20px;
	}
	margin-bottom: 131px;
}

.box1 {
	span {
		margin-top: 60px;
		display: block;
		width: fit-content;
		padding: 20px;
		font-size: 26px;
		border: 3px solid #2196ea;
		border-radius: 10px;
	}
}
.block2 {
	height: 600px;
	width: 100%;
	background: center / cover no-repeat url(../img/photo-1556122071-e404eaedb77f.jfif);
}
.block3 {
	min-height: 380px;
	h2 {
		font-size: 27px;
		margin-bottom: 33px;
	}
	p {
		font-size: 17px;
		width: 60%;
		line-height: 22px;
		padding-bottom: 109px;
	}
	padding: 89px 0 0 33px;
}
.block4 {
	background-color: white;
	color: black;
	padding: 80px 35px 80px 35px;
	h3 {
		font-size: 60px;
		margin-bottom: 35px;
	}
}
.box2 {
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	width: 440px;
	height: 380px;
	img {
		height: 238px;
		width: 440px;
		border-radius: 10px;
	}
	h2 {
		margin-top: 30px;
		font-size: 30px;
		margin-bottom: 30px;
	}
	p {
		font-size: 17px;
	}
}
.block5 {
	iframe {
		border-radius: 20px;
		height: 649px;
	}
	padding: 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}
.block6 {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
	gap: 40px;
	justify-content: center;
	.bob {
		width: 440px;
		height: 250px;
		border-radius: 20px;
	}
	.img1 {
		background: center / cover no-repeat url(../img/card/1.jfif);
	}
	.img2 {
		background: center / cover no-repeat url(../img/card/2.jfif);
	}
	.img3 {
		background: center / cover no-repeat url(../img/card/3.jfif);
	}
	.img4 {
		background: center / cover no-repeat url(../img/card/4.jfif);
	}
	.img5 {
		background: center / cover no-repeat url(../img/card/5.jfif);
	}
	.img6 {
		background: center / cover no-repeat url(../img/card/6.jfif);
	}
}
.footer {
	height: fit-content;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: xx-large;
	padding-top: 30px;
	p {
		text-align: center;
		padding: 30px 20px;
		font-size: 10px;
		line-height: 20px;
	}
}

@media (max-width: 1000px) {
	.block1,
	.block3 {
		p {
			width: 100%;
			height: fit-content;
		}
	}
}

.money {
	text-align: center;
	padding: 20px;
	border-radius: 20px;
	width: 600px;
	height: fit-content;
	background-color: #2196ea;
	display: flex;
	flex-direction: column;
}
.money__block-header {
	border: 2px solid white;
	padding: 10px;
	// border-radius: 20px;
	gap: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.money__block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100px;
	border: 1px solid white;
}
.money__box {
	display: flex;
	flex-direction: column;
	border-left: 1px solid white;
	border-right: 1px solid white;
}
.money__card {
	height: 50px;
	display: flex;
	flex-direction: column;
	padding: 7.5px;
	justify-content: space-around;
}
